.home .about {
    background-image: url('./../../assets/img/about-bg.png');
    background-size: 100% 100%; 
    position: relative;
    top: -290px;
    z-index: -3;
    padding: 290px 70px;
    padding-bottom: 365px;
    color: #FFFBFE;
}

.home .about h1 {
    font-family: Inter;
    font-size: 49px;
    font-weight: 600;
    margin-bottom: 56px;
}

.home .about .container {
    width: 81.1127vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 74px;
    flex-wrap: wrap-reverse;
}

.home .about .container .left {
    max-width: 549px;
}

.home .about .container .left p {
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 131%;
    letter-spacing: -0.48px;
    margin-bottom: 24px;
}

.home .about .container .left h2 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 8px;
}

.home .about .container .left button{
    width: 201px;
    height: 44px;
    background: url('./../../assets/img/button-bg-white.svg');
    border: none;
}

@media screen and (max-width:992px) {
    .home .about{
        top: -237px;
        padding-left: 20px;
    }

    .home .about .container{
        justify-content: center;
        width: calc(100vw - 40px);
    }

    .home .about .container .left{
        max-width: 100%;
    }

    .home .about .container img{
        width: 280px;
    }

    .home .about .container .left button{
        display: block;
        margin: 0 auto;
    }
}