.home .big {
    width: 98.8vw;
    margin-top: -568px;
}

.home .small {
    display: none;
}

@media screen and (max-width:992px) {
    .home .big {
        display: none;
    }

    .home .small {
        display: block;
        width: 98.8vw;
        margin-top: -536px;
    }
}